/* app css stylesheet */
html, body {height:100%;}
a { cursor: pointer;}
[class^="icon-"], 
[class*=" icon-"] { background-image:none !important; height:auto; width:auto;}

@media screen and (max-width:768px) {
  .main-wrap {padding-left:10px;}  
}

#main_wrapper {
  width:100%;
  position: relative;
  min-height: 100% !important;
}
#main-container { position:relative;height:auto;padding-bottom:80px; background-color:#fff;}
/*add ons*/
.space-top {margin-top:5px;}
.border-top{border-bottom:solid 5px #29d1d1 !important;}
.menus li {padding:0 20px;}
.menus li .btn-danger {margin-top:5px;}
.brand-logo {
  width:180px; height:40px;
  margin:5px 0;
  background-image:url(../img/logo.png);
  background-size: 180px 40px;
}
.datebtn {position: relative;}
.datebtn label {position: absolute;top:0; right: 0;border:solid 1px #ccc;}
.datebtn label .btn {padding:7px 12px;}
.datebtn label .btn .fa-calendar {color:#000;}
.icon-arrow-right, .icon-arrow-left {background-image:url(../img/glyphicons-halflings.png) !important;}
.width-full {width:100%; display:inline-block;}
.width-half {width:40%; display:inline-block; margin-right:30px;}
.btn-settings .btn{padding:10px 20px;}
.btn-settings {width:83%;}
.org-setting {min-height:400px;}

/*org thumb lists*/
.wrap-thumb {
  float: left;
  position: relative;
  width:250px; background-color:#fff;
  min-height: 432px;
  border:solid 1px #eee;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);  
  overflow: hidden;
  padding:5px 0;
  margin:10px 20px 10px 0;
  cursor:pointer;
}
.wrap-pic {
  width:230px; height:150px; 
  margin:5px 10px 0 10px; 
  /*background-image:url(../img/gma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px 150px;*/
}
.wrap-thumb h5 {padding:0 10px;}
.wrap-thumb p.smalltxt {font-size: 11px;min-height: 120px;}
.wrap-thumb p {line-height:15px; padding:0 10px;}
.wrap-rate {border-top:solid 1px #eee; padding:5px 10px;}
.wrap-rate .progress {height:16px !important; margin-bottom:0 !important;}
.wrap-link {position:absolute; top:0; left:0; width:250px;height:100%; z-index: 5; }
.wrap-link:hover {
  background-color:#333;
  opacity: 0.1;
  filter:alpha(opacity=0.1);
}
.btn-donate {margin:5px 10px; width:92%; font-weight: bold;}
/*org detail page*/
.org-wrap {
  width:65%;
  margin:0 auto;
}
/*.org-wrap h3 {text-align: center;}*/
.org-wrap .vid {
  width:400px;
  height:300px;
  background-color:#000;
  margin:0 20px 20px 0;
}
.org-info {
  width:300px;
  display:inline-block;
  min-width:250px;
  height:300px;
  padding:10px 0;
  background-color:#fff;
  border:solid 1px #eee;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5); 
}
.org-info h3 {
  padding:5px 20px;
  margin:0;
  /*border-top:solid 1px #ccc;*/
  border-bottom:solid 1px #eee;
}
.org-info i {float:right;}
.height-90 {height: 90px;}
.donate-area input[type=button] {float:right; margin-right:10px; padding:10px 30px; font-weight: bold;}
/*.donate-area input[type=radio] {width:20px; height:20px;}*/
.donate-area {padding:10px;}
.donate-area div {float:left; margin:10px 15px;}
.org-desc {clear:both;}
.clear-bottom {margin-bottom:0 !important;}

/*banner home page*/
.banner {
/*  position:absolute; top:0; left:0;*/
  width:100%; min-height:210px; margin-top:-20px;
  background-image:url(../img/typhoon.jpg);
  /*background-size:cover;*/
  background-position: 0 652px;
}
.banner h2 {padding:50px 0 0 50px; color:#000; font-weight: bold;}
.banner h4 {padding:0 0 10px 50px; color:#000; font-weight: bold; line-height: 25px;}
.banner h2, .banner h4 {text-shadow:4px -2px 10px #fff;}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.fbconnect {padding-left:50px;}
/*adjustment on mobile screen*/
@media (max-width:1200px) {
  .org-wrap .vid {width:100%;}
  .org-info {width:100%; height:auto; margin-bottom:20px;}
  .donate-area input[type=button] {float:left; margin-left:20px;}
}
@media (max-width:428px) {
  .org-wrap {width:90%;}
  .org-wrap .vid {display:none;}
  .donate-area input[type=button] {float:left; margin-left:0;}
  .banner h2 {padding:10px 0 0 20px !important;}
  .banner h4 {padding:0 0 20px 20px !important;}
  .width-half {width:98%; margin-right:0;}
  .btn-settings {width:95%;}
  .org-setting {padding-bottom:150px;}
}



.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*footer area*/
.footer-bar {
  position:absolute;
  width:100%;
  height:60px;
  bottom:-20px !important;
  border-top:solid 5px #29d1d1 !important;
  border-bottom:none;  
  margin-bottom:0 !important;
  border-radius:0 !important;
  background-color:#222;
  padding-top:10px;
  z-index: 60;
}

/**
 *Gamepage style
 *Note: gw = Game wrapper
*/
.gw{width: 100%;}
.min-height{min-height: 300px;}
.gw-item {
  display: inline-block;
  border-bottom: 1px solid #f2f2f5;
  padding: 10px;
  margin: auto;
  width: 99%;
  /*border: 1px solid red;*/
}
.gw-ltcol{margin-right: 20px;width: 200px;}
.gw-main-pic{
  margin-right: 2px;
  background-image: url(../img/game-img/main.jpg);
  width: 198px;
  height: 144px;
}
.gw-mini-1{background-image: url(../img/game-img/1.jpg);width: 118px;height: 70px;}
.gw-mini-2{
  background-image: url(../img/game-img/2.jpg);
  margin-top: 3px;
  width: 118px;
  height: 70px;
  /*border: 1px solid red;*/
}
.gw-rtcol{font-size: 12px;}
.gw-rtcol a {line-height:15px; margin-right:5px;}
.table {margin:10px 0 20px 0;}
/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #c09853;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #3a87ad;
}
.padding-top-10 {
  padding-top: 10px;
  text-align: center;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  } 100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }
  
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateIn {
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(-200deg);
    opacity: 0;
  }
  
  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }
  
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  -moz-animation-name: rotateIn;
  -o-animation-name: rotateIn;
  animation-name: rotateIn;
}

.loading {
  height: 24px;
  width: 100%;
  text-align: center;
}
.loading-wrapper {
  margin: -10px 50px 0px 10px !important;
  float: right !important;
}