/* app css stylesheet */
html, body {height:100%;}
a { cursor: pointer;}
[class^="icon-"], 
[class*=" icon-"] { background-image:none !important; height:auto; width:auto;}

@media screen and (max-width:768px) {
  .main-wrap {padding-left:10px;}  
}

#main_wrapper {
  width:100%;
  position: relative;
  min-height: 100% !important;
}
#main-container { position:relative;height:auto;padding-bottom:80px; background-color:#fff;}
/*add ons*/
.space-top {margin-top:5px;}
.border-top{border-bottom:solid 5px #29d1d1 !important;}
.menus li {padding:0 20px;}
.brand-logo {
  width:180px; height:40px;
  margin-top:5px;
  background-image:url(../img/logo.png);
  background-size: 180px 40px;
}

/*org thumb lists*/
.wrap-thumb {
  float: left;
  position: relative;
  width:250px; background-color:#fff;
  border:solid 1px #eee;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);  
  overflow: hidden;
  padding:5px 0;
  margin:10px 20px 10px 0;
  cursor:pointer;
}
.wrap-pic {
  width:230px; height:150px; 
  margin:5px 10px 0 10px; 
  /*background-image:url(../img/gma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px 150px;*/
}
.wrap-thumb h5 {padding:0 10px;}
.wrap-thumb p.smalltxt {font-size: 11px;}
.wrap-thumb p {line-height:15px; padding:0 10px;}
.wrap-rate {border-top:solid 1px #eee; padding:5px 10px;}
.wrap-rate .progress {height:16px !important; margin-bottom:0 !important;}
.wrap-link {position:absolute; top:0; left:0; width:250px;height:100%; z-index: 5; }
.wrap-link:hover {
  background-color:#333;
  opacity: 0.1;
  filter:alpha(opacity=0.1);
}
.btn-donate {margin:5px 10px; width:92%; font-weight: bold;}
/*org detail page*/
.org-wrap {
  width:65%;
  margin:0 auto;
}
/*.org-wrap h3 {text-align: center;}*/
.org-wrap .vid {
  width:400px;
  height:300px;
  background-color:#000;
  margin:0 20px 20px 0;
}
.org-info {
  width:300px;
  min-width:250px;
  height:300px;
  padding:10px 0;
  background-color:#fff;
  border:solid 1px #eee;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5); 
}
.org-info h3 {
  padding:5px 20px;
  margin:0;
  /*border-top:solid 1px #ccc;*/
  border-bottom:solid 1px #eee;
}
.org-info i {float:right;}
.donate-area input[type=button] {float:right; margin-right:10px; padding:10px 30px; font-weight: bold;}
/*.donate-area input[type=radio] {width:20px; height:20px;}*/
.donate-area {padding:10px;}
.donate-area div {float:left; margin:10px 15px;}
.org-desc {clear:both;}
.clear-bottom {margin-bottom:0 !important;}

/*banner home page*/
.banner {
/*  position:absolute; top:0; left:0;*/
  width:100%; min-height:260px; margin-top:-20px;
  background-image:url(../img/typhoon.jpg);
  /*background-size:cover;*/
  background-position: 0 652px;
}
.banner h2 {padding:50px 0 0 50px; color:#000; font-weight: bold;}
.banner h4 {padding:0 0 0 50px; color:#000; font-weight: bold;}
.banner h2, .banner h4 {text-shadow:4px -2px 10px #fff;}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.fbconnect {padding-left:50px;}
/*adjustment on mobile screen*/
@media (max-width:1200px) {
  .org-wrap .vid {width:100%;}
  .org-info {width:100%; height:auto; margin-bottom:20px;}
  .donate-area input[type=button] {float:left; margin-left:20px;}
}
@media (max-width:428px) {
  .org-wrap {width:90%;}
  .org-wrap .vid {display:none;}
  .donate-area input[type=button] {float:left; margin-left:0;}
  .banner h2 {padding-top:20px !important;}
}



.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*footer area*/
.footer-bar {
  position:absolute;
  width:100%;
  height:60px;
  bottom:-20px !important;
  border-top:solid 5px #29d1d1 !important;
  border-bottom:none;  
  margin-bottom:0 !important;
  border-radius:0 !important;
  background-color:#222;
  padding-top:10px;
  z-index: 60;
}