 <div class="container" ng-controller="FacebookCtrl">
  <h2>Facebook</h2>

  <div donate-btn></div>
  <!-- <div>
    <button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'" ng-hide="loginStatus.status == 'connected'">Connect with Facebook</button>
     &nbsp; 
    <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'" ng-show="loginStatus.status == 'connected'">Logout</button>
     &nbsp;
    <button class="btn btn-success" ng-click="share()">FB.ui</button>
  </div>
  
  <br>

  <div class="row">
    <div class="col-md-6">
      <h4 class="text-info">$FB.loginStatus()</h4>
      {{loginStatus}}
    </div>
    <div class="col-md-6">
      <h4 class="text-info">$FB.api('/me')</h4>
      {{apiMe}}
    </div>
  </div> -->


</div