<div class="main-wrap">
	<h3>List of Organizations You May Want to Help</h3>
	<p>Good News! You can now be helpful and get involved in our community easily by donating to your favorite NGO using your Globe prepaid or postpaid load. Just subscribe your Globe number in the donation page. </p>


	<div class="wrap-thumb pull-left" ng-repeat="list in orgLists">		
		<img ng-src="{{list.image}}" class="wrap-pic">
		<h5><b>{{list.name}}</b></h5>
		<p class="smalltxt">{{list.short_description}}</p>
		<p><i class="fa fa-map-marker"></i>{{list.state_or_region}}</p>
		<p><i class="fa fa-heart-o"></i> <b>Donations: </b><span>{{list.total_funds}}php</span></p>
		
		<!-- <a ng-hide="hasGlobeAccessToken" href="http://developer.globelabs.com.ph/dialog/oauth?app_id=gBKdrHRyMMeCp5Tr7zcMnGC8kKqkHagB" ng-click="storeOrgId(list.id)" class="btn btn-primary btn-donate">Donate</a> -->
		<a href="#/organizations/detail/{{list.id}}" ng-click="storeOrgId(list.id)" class="btn btn-primary btn-donate">View Detail</a>
	</div>


</div>