<div class="main-wrap">
	<div class="gw pull-left min-height">
		<h3 class="space-top">Subscribed Organizations</h3>
		<p>
			Every donation counts. Your continious gift can help children enjoy their rights to education, health care and nutrition, as well as protection from violence, abuse and exploitation.<br ><br>
			You can opt out daily, weekly or monthly donations to your favorite organization. You will be notifed via sms 24hrs before your donation
		</p>
		<div pre-loader class="relative-wrap"></div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped" ng-hide="loading">
				<tr>
					<th>Organization</th>				
					<th>Start Date</th>
					<th>Next Charge Date</th>
					<th>Amount</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="item in datas | filter: search">
					<td>{{item.name}}</td>
					<td>{{item.start_date}}</td>
					<td>{{item.next_charge_date}}</td>
					<td>{{item.amount}}</td>
					<td>
						<a ng-click="deleteItem($index, item.id)"><i class="fa fa-trash-o fa-2x"></i></a>
						<!-- <a><i class="fa fa-edit fa-2x"></i></a> -->
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<a href="#/settings/add" class="btn btn-danger pull-right">Add</a>		
	</div>	

</div>